body { font-family: sans-serif; font-size: 18px; }

.megaphone {
  float:left;
  shape-outside: circle(50%);
  margin-right: 10px;
}

.desktop{
  float:left;
  margin-right: 10px;
  shape-outside: inset(40px 20px 60px 0);
}

.logo{
  float:left;
  margin-right: 20px;
}

.box{
  width: 200px;
  height: 200px;
  border: 1px dashed #000;
  margin : 2rem auto;
}

.box svg{
  width:200px;
  height: 200px;
}

.shape{
  fill: #eee; /*배경색*/
  stroke: #ccc; /*테두리*/
}
