@charset "UTF-8";

/* Base */
html { font-family: "Ropa Sans", sans-serif; font-size: 16px; line-height: 1.5; }
body { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); min-width: 960px; }
.dummy { margin: 0 auto; max-width: 32em; padding: 6em 0; }

.go_top{
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  position:fixed;
  right: 50px;
  bottom: 50px;
  background-color: #333;
  display: none;
}
/* GOTOP BTN */


